</ion-side-menus>
<ion-side-menus>
   <ion-side-menu side = "left">
      <h1>SIde Menu</h1>
   </ion-side-menu>

   <ion-side-menu-content>
      <ion-nav-view>
        <ion-list>
           <ion-item class="item-icon-left" ui-sref="search" menu-close>
             <span class="icon ion-search"></span>
             Find a city
           </ion-item>
           <ion-item class="item-icon-left" ui-sref="settings" menu-close>
             <span class="icon ion-ios-cog"></span>
             Settings
           </ion-item>
           <ion-item class="item-divider">Favorites</ion-item>
         </ion-list>
      </ion-nav-view>
   </ion-side-menu-content>
<ion-view title-view="Home">
  <ion-nav-bar>
    <ion-nav-title>Content Here</ion-nav-title>
    <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <p><a href="#/login" ng-click="logout()">Logout</a></p>
    <h4>Username: {{currentUser.username}}</h4>
    <p>{{message}}</p>
  </ion-content>
</ion-view>
