<ion-view view-title="Weather">
  <ion-content>
    <div class="list">
      <div class="item">Current conditions: {{weather.current}}</div>
      <div class="item">Current temperature: {{weather.currentTemp}} &deg</div>
      <div class="item"> Humidity: {{weather.humidity}}%</div>
      <div class="item"> Today's high: {{weather.maxTemp}} &deg</div>
      <div class="item"> Today's low: {{weather.minTemp}} &deg</div>
      <div class="item"> Wind: {{weather.windSpeed}}km/h, {{weather.windDirection}}</div>
    </div>
  </ion-content>
</ion-view>
